.a-drop-wrapper {
  position: relative;
}

.a-drop {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

.a-drop--right {
  left: auto;
  right: 0;
}

.a-drop--left {
  left: -110px;
  right: auto;
}


.a-drop--xl {
  right: 32px;
  left: auto;
  width: 220px;
  height: auto;
  margin-top: 132px;
}

.a-drop--m {
  width: 180px;
  height: auto;
  opacity: 0.6;
}

.a-drop--s {
  width: 100px;
  height: auto;
  opacity: 0.4;
}

@media (min-width: 820px) {
  .a-drop--xl {
    right: 82px;
    width: 320px;
    margin-top: 32px;
  }
}

@media (min-width: 1400px) {
  .a-drop--xl {
    width: 330px;
    margin-top: 182px;
  }
}