.o-footer {
	position: relative;
	height: 400px;
	background-image: url("../../images/img-footer.png");
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.o-footer__wrapper {
	max-width: 90%;
	margin: 0 auto;
}

.o-footer--footnote {
	position: absolute;
	right: 16px;
	bottom: 32px;
	left: 16px;
	max-width: 620px;
	margin: 0 auto;
	padding: 32px 24px;
	border-radius: 10px;
	border: 1px solid var(--text-color);
	background-color: rgba(255, 255 ,255, 1);
	font-size: 14px;
	text-align: center;
	opacity: 1;
	z-index: 2;
	color: var(--text-color);
}

@media (min-width: 720px) {
	.o-footer {
		background-size: 100%;
	}
}

@media (min-width: 1020px) {
	.o-footer {
		height: 600px;
		background-size: cover;
	}

	.o-footer--footnote {
		bottom: 124px;
	}
}

@media (min-width: 1400px) {
	.o-footer {
		height: 780px;
	}
}