.o-header {
  position: fixed;
  top: 8px;
  right: 8px;
  left: 16px;
  z-index: 11;
}

.o-header--mb {
  display: block;
}

.o-header--dsk {
  display: none;
}

.o-header__inner {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.o-header__logo {
  transition: box-shadow 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 46px;
  height: 46px;
  margin: 0;
  padding: 16px;
  z-index: 10;
  border-radius: 75px;
  text-align: center;
  background-color: var(--nuclear-color);
  border: 1px solid rgba(0, 0, 0, 0.15)
}

.o-header__logo--logo {
  transition: opacity 200ms ease-in-out;
  width: 35px;
  margin: 0 auto;
  opacity: 0.85;
}

.o-header__logo:hover {
  box-shadow: 0 5px 15px rgba(180,203,219,1);
}

.o-header__logo:hover .o-header__logo--logo {
  opacity: 1;
}


.o-header__nav-list {
  display: none;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 0;
}

.o-header__nav-list--item {
  margin: 24px 16px;
  text-align: right;
}

.o-header__nav-list--item a {
  display: inline-block;
  padding: 16px 32px;
  background-color: var(--nuclear-color);
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 20px;
  color: var(--text-color);
}

@media (min-width: 820px) {
  .o-header {
    top: 0;
  }

  .o-header__inner {
    margin: 0 auto;
  }
}

.body-unveil::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 9;
}

.reveal {
  transition: opacity 300ms ease-in;
  visibility: visible;
  display: flex;
  opacity: 1;
}

.unreveal {
  transition: opacity 300ms ease-in;
  visibility: visible;
  opacity: 0;
}

.o-header__nav-list--item {
  transition: opacity 150ms ease-in-out;
    display: block;
    font-size: 0.90rem;
    opacity: 0;
    cursor: default;
}

.no-visible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}


@media (min-width: 1020px) {
  .o-header--mb {
    display: none;
  }

  .o-header--dsk {
    display: block;
  }
}

.o-header--dsk .o-header__nav-list {
  position: relative;
  display: block;
  top: 0;
  margin: 0;
}

.o-header--dsk .o-header__inner {
  justify-content: space-between;
}

.o-header--dsk .o-header__nav-list--item {
  display: inline-block;
  margin: 16px 4px;
  opacity: 1;
}