.o-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.o-header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.o-header__logo--logo {
  width: 90px;
}

.o-header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.o-header__nav-list--item {
  margin: 0 24px;
}

@media (min-width: 820px) {
  .o-header__inner {
    margin: 0 auto;
  }
}
