.m-area {
  position: relative;
}

.m-area__list {
  padding: 24px;
  border-radius: 30px;
  background-color: var(--nuclear-color);
  box-shadow: 0 0 60px #B4CBDB;
  text-align: center;
}

.m-area__list-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.m-area__list-item  + .m-area__list-item {
  margin-top: 16px;
}

.m-area__list-item:last-child {
  padding-bottom: 0;
}

.m-area__list-item:last-child  .m-area__list-item--tip {
  border: none;
  padding-bottom: 0;
}

.m-area__list-item--tip {
  padding-bottom: 32px;
  border-bottom: 1px dotted #666;
}

.m-area__list-item--icon {
  min-width: 120px;
  margin-bottom: 32px;
}

.m-area--title {
  height: 60px;
  margin: 0 0 32px;
  font-family: var(--title-regular);
  font-size: var(--fs-l);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

/* TITLE HIGHLIGHTS MODIFIERS */

.m-area--wc {
  background-image: url("../../images/highlight/img-hg-1.png");
}

.m-area--kitchen {
  background-image: url("../../images/highlight/img-hg-2.png");
}

.m-area--diet {
  background-image: url("../../images/highlight/img-hg-3.png");
}

.m-area--ext {
  background-image: url("../../images/highlight/img-hg-4.png");
}

.m-area--gen {
  background-image: url("../../images/highlight/img-hg-5.png");
}



/* END TITLE HIGHLIGHTS MODIFIERS */

.m-area__list-item--title {
  margin: 0 0 24px;
  font-family: var(--font-bold);
}

.m-area__list-item--description {
  color: #777;
}


@media (min-width: 620px) {
  /* TITLE HIGHLIGHTS MODIFIERS */

  .m-area--wc {
    background-size: 440px;
  }

  .m-area--kitchen {
    background-size: 480px;
  }
  
  .m-area--diet {
    background-size: 395px;
  }

  .m-area--ext {
    background-size: 590px;
  }

  .m-area--gen {
    background-size: 392px;
  }

  /* END TITLE HIGHLIGHTS MODIFIERS */
}

@media (min-width: 820px) {
  .m-area {
    max-width: 841px;
    margin: 0 auto;
  }

  .m-area__list {
    padding: 56px;
    text-align: left;
  }

  .m-area__list-item {
    flex-direction: row;
    align-items: flex-start;
  }

  .m-area__list-item--icon {
    padding-right: 24px;
  }

  .m-area--title {
    font-size: var(--fs-l);
    margin: 24px auto 64px;
  }
}