.m-separator {
  position: relative;
  padding: 220px 0;
  text-align: center;
  overflow: hidden;
}

.m-separator--short {
  padding: 90px 0;
}

.m-separator__text {
  position: absolute;
  top: 20%;
  padding: 0 24px;
}

.m-separator__text--title {
  font-size: var(--fs-xl-s);
  margin: 0;
}

.m-separator__text--right {
  transform: rotate(-7deg);
}

.m-separator__text--left {
  transform: rotate(7deg);
}

.m-separator:before {
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  content: "................................";
  letter-spacing: 6px;
  font-size: 30px;
  display: inline-block;
  vertical-align: 3px;
  padding-left: 10px;
  z-index: -1px;
}

@media (min-width: 820px) {
  .m-separator__text {
    width: 40%;
  }

  .m-separator__text--title {
    font-size: var(--fs-xxl-m);
  }

  .m-separator__text--right {
    right: 64px;
  }
  
  .m-separator__text--left {
    left: 64px;
  }  
}